
:root {
    --pink: rgb(255, 40, 113);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection
{
    background-color: lightgray;
    opacity: 0.5;
}
body {
    height: 100vh;
    font-family: sans-serif;
    background-image: radial-gradient(#040404, #181818);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.code-editor {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #040404;
}

.code {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;
    background-color: #040404;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}

h1 {
    font: 600 1.2rem sans-serif;
    margin: 1rem 0;
    color: #fff;
}

h1 > img {
    width: 1.3rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.code textarea {
    width: 100%;
    height: calc(100% - 4rem);
    background-color: #1c1c24;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    resize: none;
}

.code textarea::-webkit-scrollbar {
    width: .4rem;
}
.code textarea::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: .4rem;
}

#result {
    width: 100%;
    height: 100%;
    border: none;
}

a {
    background-color: lime;
    color: #fff;
    padding: 0 1.2rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 2rem;
    float: right;
    cursor: pointer;
}
.expand {
    transform: scale(90);
  }
  
#blender {
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-radius: 50%;
    right: calc(23% - 21.5rem);
    bottom: 1rem;
    pointer-events: none;
    background: white;
    transition: all 0.5s ease;
    mix-blend-mode: difference;
  }
  .s-module--toggle--2hd7F {
    background: #ffffff;
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-radius: 50%;
    right: calc(23% - 21.5rem);
    bottom: 1rem;
    cursor: pointer;
    background-image: url(https://www.svgrepo.com/show/381213/dark-mode-night-moon.svg);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    transition: none;
  }
  @media screen{
    .s-module--toggle--2hd7F {
      right: 1rem;
      opacity: 0.8;
    }
  }
  .s-module--hasZIndex--1QkpC
  {
    background-color: #ffffff;
    position: absolute;
    background-image: url(https://www.svgrepo.com/show/432507/light-mode.svg);
    background-size: 50px;
    background-position: centear;
    background-repeat: no-repeat;
    transition: none;
    right: calc(23% - 21.5rem);
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    cursor: pointer;
  }